<%= link_to "[Add New Song]", new_song_path %>
<%= link_to "[All Artists]", artists_path %>

<hr>

<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, song_path(song.id) %></td>
        <td><%= song.duration %></td>
        <td><%= song.genre %></td>
      </tr>
    <% end %>
  </tbody>
